/* Variables */

:root {
    --basic-black: #000000;
    --basic-gray: #EEEEEE;
    --basic-extra-gray: #444444;
    --basic-light-gray: #888888;
    --basic-super-light: #DFDFDF;
    --basic-gray-darken: #a6a6a6;
    --basic-dark: #283136;
    --basic-neutral: #666666;
    --basic-extra-light: #E1E1E1;
    --basic-white: #ffffff;
    --basic-green: #00CA74;
    --basic-green-dark: #00BC6C;
    --basic-green-darken: #00AA62;
    --basic-coral: #FB565A;
    --basic-coral-dark: #E74246;
    --basic-coral-darken: #D7373B;
    --basic-yellow: #EFC849;
    --basic-yellow-dark: #EAB534;
    --basic-yellow-darken: #E5A722;
  
  }

  /* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-dark);
    text-transform: none;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .site-wrapper {
    min-width: 946px;
    background-repeat: no-repeat;
    background-position: top center;
  }

  .site-wrapper-1 {
    background-color: var(--basic-gray);
    background-image: url("img/nerds-index-slide1.png");
  }
  
  .site-wrapper-2 {
    background-color: var(--basic-gray);
    background-image: url("img/nerds-index-slide2.png");
  }
  
  .site-wrapper-3 {
    background-color: var(--basic-gray);
    background-image: url("img/nerds-index-slide3.png");
  }

  .slider {
    position: relative;
  }

  .slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    display: none;
  }

  .slide-current {
    display: block;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Grid */

.page {
  height: 100%;
}


.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Grid for pages */

.page-catalog {
  display: grid;
  grid-template-columns: 260px 1fr;
  align-content: start;
}

.page-catalog .page-title {
  grid-column: 1 / -1;
}



/* Main header */

.main-header {
  margin-bottom: 70px;
  background-color: var(--basic-gray);
}

.main-header-logo {
  float: left;
}

  /* Main navigation */

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent;
    text-transform: uppercase;
  }

.main-header-logo {
background-color: var(--basic-gray);
}



/* Container */

.container {
width: 1160px;
margin: 0 auto;
padding: 49px 10px;
}

.main-header-bar {
  background-color: var(--basic-gray);
}

.main-navigation-wrapper {
  background-color: var(--basic-gray);
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  }

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
  }

  .site-navigation {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-navigation-current a:not([href]) {
    background-color: var(--basic-gray);
  }
  
  .container-title {
    font-size: 55px;
    font-weight: 500;
    line-height: 1;
    width: 538px;
    color: var(--basic-black);
  }
  
  .container-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-dark);
  }

    /* User navigation */

.user-navigation {
  max-width: 140px;
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
  
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-coral);
}

/* Login link */

.cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 15px;
  height: 15px;
  background-image: url("img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--basic-gray-darken);
}

.user-navigation .cart {
  padding-left: 50px;
  position: relative;
}

  /* Services*/

  .services {
  margin-bottom: 80px;
  }

  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0; 
    padding: 0;
    column-gap: 40px;
    list-style: none;
  }
  
  .services-caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    
    
  }
  
  .services-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-dark);
    padding-top: 8px;
    padding-bottom: 16px;
  }

  .index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;

  }

  .index-columns h2 {
    margin: 0;
    margin-bottom: 32px;
  }

  /* About*/ 

  .about {
    background-color: var(--basic-white);
    width: 760px;
  }
  
  .about-header {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: var(--basic-black);
  }
  
  .about-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-dark);
    margin-bottom: 40px;
    
  }
  
  .about-list {
    margin: 0;
    padding: 0;
  
    color: var(--basic-dark);
    list-style: none;
  }
  
  .about-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
    
  }
  
  .about-features {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-top: 20px;
  }
  .about-besties{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--basic-dark);
  }

  .about-stats {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    color: var(--basic-black);
  }
  
 /* Clients*/ 
 .clients ul {
   list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 100px;
 }
 
 
/* Button */

.button {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 30px;
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-coral);
    border: none;
  }

.button:hover {
  background-color: var(--basic-coral-dark);
  }

.button:active {
  color: var(--basic-white);
  background-color: var(--basic-coral-darken);
}

.button--green {
  background-color: var(--basic-green);
}
.button--green:hover {
  background-color: var(--basic-green-dark);
}
.button--green:active {
background-color: var(--basic-green-darken);
}

.button--yellow {
  background-color: var(--basic-yellow);
}
.button--yellow:hover {
  background-color: var(--basic-yellow-dark);
}
.button--yellow:active {
background-color: var(--basic-yellow-darken);
}

.slider-controls {
  position: absolute;
  bottom: 60px;
  left: 536px;
  z-index: 20;
  display: flex;
  width: 88px;
  justify-content: space-between;

}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: #c1c1c1;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  text-align: center;
}

/* Catalog */

.catalog {
  margin-left: 60px;
}

.catalog-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
}

.catalog-item {
  background-color: var(--basic-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  width: 358px;
  min-height: 578px;
  margin-right: 42px;
  margin-bottom: 35px;
}

.catalog-item-image {
  width: 360px;
  height: 580px;
  margin: 0;
}

.catalog-item a {
  color: var(--basic-black);
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
} 

.catalog-category {
  text-transform: uppercase;
} 

.catalog-item-price b {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background-color: var(--basic-white);
}

.catalog-item-price .button {
  line-height: 50px;
  color: var(--basic-coral);
}

/* Filters */

.filters {
  width: 260px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

/* Pagination */

.pagination-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: ". pg pg";
}

.pagination {
  padding-bottom: 60px;
  grid-area: pg;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-gray);
  margin-right: 11px;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: var(--basic-super-light);
} 

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background: rgba(0, 0, 0, 0.0001);
}

/* Main footer */

.main-footer {
    padding: 60px 0;
    margin-top: 65px;
    color: var(--basic-neutral);
    background-color: var(--basic-white);
    background-position: 0 0;
    background-repeat: repeat;
    }

  .main-footer .container {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 150px;
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .contacts-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
  }

  .contacts-address {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    color: var(--basic-neutral);
  }

  .footer-contacts a {
    color: var(--basic-neutral);
    text-decoration: none;
  }
  
  .footer-contacts a:hover,
  .footer-contacts a:focus {
    text-decoration: none;
  }

  .footer-social {
    text-align: left;
    justify-self: center;

}
  
  .footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    list-style: none;
  }
  
  .footer-social h2 {
    font-size: 36px; 
  
  }

  .sale h2 {
    font-size: 36px; 
    color: var(--basic-black);
  }
  
  
  /* Social button */
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 81px;
    height: 81px;
    background-color: var(--basic-extra-light);
    color: inherit;
    }
  
  .social-button:hover,
  .social-button:focus {
    background-color: var(--basic-coral-darken);
  }

  .social-button:active {
    background-color: var(--basic-coral-dark);
  }
