/* Variables */

  :root {
    --basic-black: #000000;
    --basic-gray: #EEEEEE;
    --basic-extra-gray: #444444;
    --basic-light-gray: #888888;
    --basic-super-light: #DFDFDF;
    --basic-gray-darken: #a6a6a6;
    --basic-dark: #283136;
    --basic-neutral: #666666;
    --basic-extra-light: #E1E1E1;
    --basic-white: #ffffff;
    --basic-green: #00CA74;
    --basic-green-dark: #00BC6C;
    --basic-green-darken: #00AA62;
    --basic-coral: #FB565A;
    --basic-coral-dark: #E74246;
    --basic-coral-darken: #D7373B;
    --basic-yellow: #EFC849;
    --basic-yellow-dark: #EAB534;
    --basic-yellow-darken: #E5A722;
    --basik-dark-gray: #b4b9bb;
    --pagination-border: #DBDBDB;
    --popup-form-border: #D7DCDE;
    --popup-form-border-hover: #B4B9BB;
    --popup-form-border-invalid: #E74246;
  }

  /* Global */

  body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-dark);
    text-transform: none;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .site-wrapper {
    min-width: 946px;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--basic-gray);
  }


  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }


  .visually-hidden {
    display: none;
  }

  /* Grid */

  .page {
    height: 100%;
  }

  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

/* Grid for pages */

  .page-catalog {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    align-content: start;
    grid-template-areas:
    "filters sorting sorting"
    "filters catalog catalog"
    "filters pagination pagination";
    grid-gap: 40px;
    margin-top: 55px;
    margin-bottom: 60px;
  }

  .page-catalog .page-title {
    grid-column: 1 / -1;
  }


/* Main header */

  .main-header {
    background-color: var(--basic-gray);
    padding-top: 48px;
  } 

  .main-header-logo {
    float: left;
  }

  /* Main navigation */

  .main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    background-color: transparent;
    text-transform: uppercase;
  }

  .main-header-logo {
    background-color: var(--basic-gray);
  }

/* Container */

  .container {
   width: 1160px;
   margin: 0 auto;
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
  }

  .main-header-bar {
    background-color: var(--basic-gray);
  }

  .main-navigation-wrapper {
    background-color: var(--basic-gray);
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
  }

  .site-navigation {
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 45px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 15px;
  }

  .site-navigation-current a:not([href]) {
    background-color: var(--basic-gray);
  } 
  
  .container-title {
    margin: 0 0 25px 0;
    font-size: 55px;
    font-weight: 600;
    line-height: 1;
    width: 538px;
    color: var(--basic-black); 
  }
  
  .container-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-dark);
    margin: 0 0 38px 0;
    max-width: 400px;
  }


  /* Slider */

  .slider {
    position: relative;
    background-color: var(--basic-gray);
  }

  .slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .slide {
    display: none;
  }

  .slide-current-1 {
    display: block;
    background-image: url("img/nerds-index-slide1.png");
    padding-top: 78px;
    padding-bottom: 80px;
    background-position: 97%;
    background-repeat: no-repeat;
  }

  .slide-current-2 {
    display: none;
    background-image: url("img/nerds-index-slide2.png");
    padding-top: 78px;
    padding-bottom: 80px;
    background-position: 97%;
    background-repeat: no-repeat;
  }

  .slide-current-3 {
    display: none;
    background-image: url("img/nerds-index-slide3.png");
    padding-top: 78px;
    padding-bottom: 80px;
    background-position: 97%;
    background-repeat: no-repeat;
  }

  .slider-controls {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: -5px;
  }

  .slider-controls button::before {
   content: '';
   display: inline-block;
   padding: 2px;
   border: 2px solid #ffffff;
   border-radius: 50%;
  }

  .slider-controls button {
    padding: 5px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    margin-right: 17px;
    margin-bottom: 40px;
  }

  .slider-controls .current::before {
    border-color: #c1c1c1;
  }

  .btn  {
    display: block;
    font-size: 16px;
    line-height: 48px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
    transition: background-color 0.6s ease;
    width: 240px;
    height: 50px;
    margin: 0;
  } 
  
  .btn:hover {
    background-color: #d6494d;
  }
    
  .btn:active {
    background-color: #b63538;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.15);
  }

    /* User navigation */

  .user-navigation {
    max-width: 140px;
    margin-left: 45px;
    margin-top: 15px;
  } 

  .navigation-item {
    font-weight: 700;
  }

  .site-navigation a,
  .user-navigation a {
   color: var(--basic-black);  
  }

  .site-navigation a:hover,
  .site-navigation a:focus,
  .user-navigation a:hover,
  .user-navigation a:focus {
   color: var(--basic-coral);
  }

/* Login link */

  .user-navigation .cart {
    padding-left: 40px;
    position: relative;
    background: url("img/cart-icon.svg") left /15px no-repeat;
    font-weight: 700;
  }

  /* Services*/

  .services {
    margin-bottom: 80px;
    padding-top: 80px;
  }

  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0; 
    padding: 0;
    column-gap: 40px;
    list-style: none;
  }

  .services-caption {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
  }
  
  .services-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-dark);
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .index-columns {
    display: flex;
    justify-content: space-between;
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    margin-top: 73px;
    
  }

  .index-columns h2 {
    margin: 0;
    
  }

  /* About*/ 

  .about {
    background-color: var(--basic-white);
    width: 760px;
    margin-top: 30px;
  }
  
  .about-header {
    font-size: 45px;
    font-weight: 700;
    line-height: 1;
    color: var(--basic-black);
  }
  
  .about-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-dark);
    margin-bottom: 40px;
    margin-top: -10px;
  }
  
  .about-list {
    margin: 0;
    padding: 0;
    padding-bottom: 73px;
    color: var(--basic-dark);
    list-style: none;
  }
  
  .about-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .about-list li {
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 37px;
  }
  
  .about-list li:last-child {
    margin-bottom: 0px;
  }
  
  .about-list li:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    margin: 0 11px 4px -37px;
  }
  
  .about-features {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-top: 37px;
    text-align: center;
  }

  .about-features .when {
   text-align: center;
   
  }

  .about-besties{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: var(--basic-dark);
    padding: 0;
  }

  .about-stats {
    font-size: 45px;
    font-weight: 700;
    line-height: 64px;
    color: var(--basic-black);
    margin-top: 39px;
    flex-basis: 360px;
    width: 100%;
  }

  .about-stats table {
    margin-top: 29px;
    width: 100%;
  }

  .about-number {
    padding: 0 10px 8px 0;
  }

  .percent {
    width: 20px;
    height: 40px;
    font-size: 24px;
    top: -15px;
  }
  
 /* Clients*/ 


 .clients ul {
   list-style: none;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   border-bottom: 2px solid #EEEEEE;
   margin: 0;
   padding: 45px 0 45px;
   text-align: center;
   align-items: center;
   grid-column-gap: 32px;
 }

 .clients-logo { 
   opacity: 0.1;
 }

  .clients-logo:hover {
   opacity: 1;
  }

 .cliens-logo:active,
 .cliens-logo:focus {
   opacity: 0.2;
  }

  li.clients-item {
    position: relative;
  }

  li.clients-item:not(:last-child)::after {
    content:'';
    height: 52px;
    display: inline-block;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    position: absolute;
    right: -17px;
    top: 50%;
    transform: translateY(-50%);
  }
 
/* Button */

  .button {
    display: inline-block;
    
    padding: 10px 30px;
    font: inherit;
    font-size: 16px;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-coral);
    border: none;
    border-radius: 3px;
    width: 100px;
  }

  .button:hover {
   background-color: var(--basic-coral-dark);
  }

  .button:active {
    color: var(--basic-white);
    background-color: var(--basic-coral-darken);
  }

  .button--green {
    background-color: var(--basic-green);
  }

  .button--green:hover {
   background-color: var(--basic-green-dark);
  }

  .button--green:active {
   background-color: var(--basic-green-darken);
  }

  .button--yellow {
    background-color: var(--basic-yellow);
  }

  .button--yellow:hover {
    background-color: var(--basic-yellow-dark);
  }

  .button--yellow:active {
   background-color: var(--basic-yellow-darken);
  }


  .page-title {
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
  }  

/* Catalog */

  .catalog {
    grid-area: catalog;
    min-width: 720px;
    margin: 0;
  }
 
  .catalog-title {
    text-align: center;
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-transform: none;
    margin-top: 78px;
    margin-bottom: 108px;
  }


  .catalog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;  
    
  }

  .catalog-item {
    position: relative;
    background-color: var(--basic-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    width: 358px;
    margin-bottom: 31px;
    padding-top: 40px;
  }

  .catalog-item:nth-child(2n-1) {
    margin-right: 42px;
  }

  .catalog-item::before {
    content: "";
    position: absolute;
    width: 358px;
    height: 40px;
    top: 0px;
    background-image: url("img/browser.svg");
  }

  .catalog-item-image {
    position: relative;
    width: 360px;
    height: 580px;
    margin: 0; 
  }


  .catalog-item a {
    color: var(--basic-black);
    display: flex;
    flex-direction: column;
  }

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
} 

.catalog-category {
  text-transform: uppercase;
} 

.catalog-item-price b {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  background-color: var(--basic-white);
}

.catalog-item-price .button {
  line-height: 50px;
  color: var(--basic-coral);
}

/* Sort */

.sort {
  grid-area: sorting;
  margin-top: 35px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.to-sort {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.sort-catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
  text-transform: uppercase;
  
}

.sort-catalog-item a {
margin-right: 26px;
color: var(--basic-black); 
opacity: 0.3;
}

.sort-catalog-item a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-catalog-item a:focus {
  color: var(--basic-black);
  opacity: 1;
}


.switching ul {
list-style: none;
display: grid;
grid-template-columns: 1fr 1fr;
grid-column-gap: 18px;
}

.current-sort-arrow { 
  opacity: 1;
}

 .current-sort-arrow:hover {
  opacity: 0.1;
 }

.current-sort-arrow:active,
.current-sort-arrow:focus {
  fill: #231F20;
 }

/*
.switch-item button {
  position: relative;
  cursor: pointer;
  width: 11px;
  height: 10px;
  margin: 0;
  border: 0 solid white;
  background-color: transparent;
  opacity: 0.2;
}

.switch-item:first-child button {
  background-image: url("img/arrow-down-icon.svg");
  background-repeat: no-repeat;
  margin-right: 18px; 
}

.switch-item:last-child button {
  background-image: url("img/arrow-up-icon.svg");
  background-repeat: no-repeat;
}

.switch-item button:hover,
.switch-item button:focus {
  opacity: 1;
}

.switch-item button:active,
.switch-item .current-sort-arrow {
  opacity: 1;
}

*/

/* Filters */

.filters {
  width: 260px;
  grid-area: filters;
  margin-top: 55px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter ul {
  font-size: 16px;
  list-style: none;
  line-height: 19px;
  padding: 0;
  margin:0;
  margin-bottom: 50px;
  margin-right: 50px;
}

.filter-option {
  margin-bottom: 19px;
  padding-left: 43px;
  right: 5px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: #4d4d4d;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -42px;
  width: 22px;
  height: 16px;
  background-image: url("img/swoosh.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #4d4d4d;
  border-radius: 50%;
  
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: #4d4d4d;
  border-radius: 50%;
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  width: 260px;
  height: 50px;
  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #DFDFDF;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}

.filter-button {
  padding-right: 30px;
  padding-left: 30px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
  
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

/* Pagination */



.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;  
  margin-right: 50px;
  
}

.pagination-item {
  margin-right: 6px;
  
}

.pagination-item:last-child {
  text-align: center;
  width: 260px;
  color: var(--basic_black);
  vertical-align: middle;
  text-transform: inherit;
  background-color: var(--basic-gray);
  border: none;
  border-radius: 3px;
}

.pagination-item a {
  display: block;
  padding: 12px 20px;
  color: var(--basic-black);
  background-color: var(--basic-gray);
  margin-right: 11px;
  border-radius: 3px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: var(--basic-super-light);
} 

.pagination-item a:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  padding: 14px 18px;
  border: 2px solid #DBDBDB; 
}

/* Main footer */

 .main-footer {
    padding: 0;
    margin-top: 80px;
    color: var(--basic-neutral);
    background-color: var(--basic-white);
    background-position: 0 0;
    background-repeat: repeat;
  }

  .main-footer .container {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 130px;
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .contacts-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .contacts-address {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 18px;
    color: var(--basic-neutral);  
  }

  .footer-contacts {
    position: relative;
    overflow: hidden; 
    padding-top: 51px;
    padding-bottom: 64px;
    
  }

  .map-image {
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
  }

  .contact-us {
    background: #ffffff;
    padding: 49px 50px 47px;
  }

  .footer-phone {
    color: var(--basic-neutral);
    text-transform: uppercase;
    margin-top: 37px;
    margin-left: 3px;
    border-radius: 3px;
    padding: 6px 39px 18px 0;
    font-size: 16px;
  }

  .contacts-phone {
   font-size: 16px;
   
  }
  
  .footer-button {
    color: var(--basic-white);
    text-transform: uppercase;
    margin-top: 18px;
    border-radius: 3px;
    display: inline-block;
    font: inherit;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background-color: var(--basic-coral);
    border: none;
    width: 160px;
    padding-bottom: 15px;
  }

  .footer-contacts a:hover,
  .footer-contacts a:focus {
    text-decoration: none;
  }

  .footer-social {
    text-align: left;
    justify-self: center;
  }
  
  .footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    list-style: none;  
    padding: 0;
  }
  
  .footer-social h2 {
    font-size: 36px; 
  }

  .sale h2 {
    font-size: 36px; 
    color: var(--basic-black);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .sale p {
    font-size: 16px; 
    color: #444444;
  }
  
  .container .last-footer {
    padding-top: 40px;
  }
  
  /* Social button */
  
  .social-button {
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 81px;
    height: 81px;
    background-color: var(--basic-extra-light);
    color: inherit;
    border-radius: 50%;
    margin-right: 9px;
  }
  
  .social-button:hover,
  .social-button:focus {
    background-color: var(--basic-coral-darken);
  }

  .social-button:active {
    background-color: var(--basic-coral-dark);
  }

  /* Modal */

  .modal {
    display:none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--basic-white);
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  }

/* Modal close */

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #fb565a;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

  /* Modal order */

.modal-order {
  top: 120px;  
  bottom: auto;
  width: 460px;
  height: 415px;
  padding: 50px 80px;
}

.modal-order h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.textarea_title {
  width: 460px;
  min-height: 115px;
  margin-right: 0;
  resize: none;
  padding-top: 9px;
  padding-bottom: 12px;
}

  /* Modal map */

  .modal-map {
    width: 1440px;
    height: 416px;
    border: 7px solid white;
  }

  .modal-map img {
    display: block;
  }

  .modal-map iframe {
    border: none;
  }

